@media only screen and (max-width: 768px) {
  .tableContainer {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .runTable {
    min-width: 650px;
    font-size: 0.8rem;
  }

  .runTable th,
  .runTable td {
    padding: 0.25rem !important;
    white-space: nowrap;
    min-width: 60px;
  }

  .runTable th:first-child,
  .runTable td:first-child {
    min-width: 100px;
  }

  .runTable th:last-child,
  .runTable td:last-child {
    min-width: 80px;
  }
}

.runTable {
  width: 100%;
  margin: 0;
  color: rgb(161 161 170);
  background-color: transparent;
  font-family: var(--font-mono);
  table-layout: auto;
  font-size: 0.875rem;

  :is(thead) {
    color: rgb(161 161 170);
    background-color: rgb(24 24 27 / 0.5);

    :is(th) {
      padding: 1rem 1.5rem;
      white-space: nowrap;
      text-align: left;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  :is(th, td) {
    white-space: nowrap;
    text-align: left;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgb(39 39 42 / 0.5);
  }
}

.runRow {
  cursor: pointer;
  transition-colors: 0.2s;

  :is(td) {
    padding: 1rem 1.5rem;
    border: 0;
  }

  &:hover {
    background-color: rgb(39 39 42 / 0.3);
  }
}

.selected {
  color: #E31937 !important;
  background-color: rgb(39 39 42 / 0.5) !important;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.runDate {
  color: rgb(161 161 170);
}
